# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtualenvs
.venv/
venv/
backend/venv/
backend/.venv/

# DB + env
*.sqlite3
.env
backend/app/grocery_cache.db
archive/*.db

# VS Code
.vscode/

# Python bytecode
*.pyc
*.pyo
*.pyd

# IDE / OS
.vscode/
.DS_Store

# Logs
*.log